* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;   
}
:root {
    --softBlue: var(--darkBlue);
    --darkBlue: #44f;
}

body {
    background: linear-gradient(to bottom, #4f4, #44f);
}
header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 3em 10px;
    color: var(--softBlue);
}
header p {
    text-align: justify;
    color: var(--softBlue);
}
.flex-container {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 160px;
    max-width: 400px;
    padding: 10px;
    margin: 40px 20px 30px;
    box-shadow: 0 0 20px var(--softBlue);
    transition: all .5s;
    background-color: #333;
}

.card:hover {
    box-shadow: 0 0 100px var(--darkBlue);
    transform: rotate(360deg);
}

.card__touchMe {
    font-size: 10px;
    animation-name: touchMe;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes touchMe {
    0% {
        color: #aa0;
    }
    50% {
        letter-spacing: 3px;
    }
    100% {
        display: none;
    }
}
.card__title {
    font-family: 'Syne Mono', monospace;
    color: #004;
    font-size: 25px;
    margin-top: 10px;
}
.card__title::before {
    content: '"';
}

.card__title::after {
    content: '"';
}

.card__author {
    align-self: flex-end;
    opacity: .5;
    color: #aaa;
}
.card p {
    text-align: justify;
    margin-top: 10px;
    color: #aaa;
}

.card__img {
    display: flex;
    align-self: center;
    object-fit: cover;
}
.card__image {
    justify-self: center;
    width: 95%;
    margin: 0 5px;
}

.random {
    display: flex;
    justify-content: center;
}
.randomButton {
    padding: 20px;
    width: 250px;
    background: var(--darkBlue);
    border: none;
    color: #fff;
    letter-spacing: 1px;
    transition: all .5s;
}

.randomButton:hover {
    background: var(--softBlue);
    outline: none;
    letter-spacing: 3px;
}

.randomButton:focus {
    outline: none;
}

footer {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;
    color: #aaa;
}

footer a {
    color: #004;
}