* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, arial;
    color: #000;
}
:root {
    --softBlue: #11f;
    --darkBlue: #44f;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 10% 10px;
}

header p {
    margin: 20px 10% 0;
    text-align: justify;

}

body {
    background-color: #444;
}

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 160px;
    max-width: 400px;
    padding: 10px;
    margin: 40px auto 30px;
    box-shadow: 0 0 20px var(--softBlue);
    transition: all .5s;
}

.card:hover {
    box-shadow: 0 0 50px var(--darkBlue);
    transform: scale(1.1);
}
.card__title {
    font-size: 25px;
    margin-top: 10px;
}

.card__author {
    align-self: flex-end;
    opacity: .5;
}
.card p {
    text-align: justify;
    margin-top: 10px;
}

.card__img {
    display: flex;
    align-self: center;
    object-fit: cover;
}
.card__image {
    justify-self: center;
    width: 95%;
    margin: 0 5px;
}

.random {
    display: flex;
    justify-content: center;
}
.randomButton {
    padding: 20px;
    width: 250px;
    background: var(--darkBlue);
    border: none;
    color: #fff;
    letter-spacing: 1px;
    transition: all .5s;
}

.randomButton:hover {
    background: var(--softBlue);
    outline: none;
    letter-spacing: 3px;
}

.randomButton:focus {
    outline: none;
}